helloworld/src/main/mule/helloworld.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="283c0910-b504-4d23-b7b7-563545a28525" >
		<http:listener-connection host="0.0.0.0" port="8070" />
	</http:listener-config>
	<flow name="helloworldFlow" doc:id="95a35119-3286-424b-aad8-26919fc1bd2c" >
		<http:listener doc:name="Listener" doc:id="d16639f2-cd1c-4485-94de-c159993698c4" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="b0b4f311-11e7-45c6-81f2-b6ab1a56d50f" message="#[message]"/>
	</flow>
</mule>
